{% extends "layout.html" %}
{% block title %}
Petgram
{% endblock %}
{% block content %}
{% if error == "UserAlreadyExists" %}
<p> User already exists.</p>
{% elif error == "UserCreationFailed" %}
<p> Failed to sign up. </p>
{% elif error == "PasswordsDoNotMatch" %}
<p> Passwords don't match. </p>
{% endif %}
<div id="app">
    <form method="POST" action="/create">
        🐾 Username: <input type="text" name="username"></input>
        📝 Bio: <input type="text" name="bio"></input>

        🔐 Password: <input type="password" id="password" name="password" required>

        🔐 Retype password: <input type="password" id="retyped_password" name="retyped_password" required>

        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}